@media screen and (min-width: 600px) { background: ;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.menu{ 
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(./eagle.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1300px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: rgba(92, 15, 200, 0.973);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: right;
    padding-top: 10px;
}
.main{ 
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 1rem;
}

ul li a{ 
    text-decoration: none;
    color: rgb(93, 244, 5);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{ 
    color: rgb(103, 3, 211);
}

.search{
    width: 330px;
    float: left;
    margin-left: 370px;
}

.srch{
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(111, 11, 199);
    margin-top: 13px;
    color: aliceblue;
    border-right: none;
    font-size: 1rem;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: rgb(145, 9, 207);
    border: 2px solid rgb(105, 14, 191);
    margin-top: 13px;
    color: aliceblue;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.src:focus{
    outline: none;
}

.content{
    width: 1400px;
    height: auto;
    margin: auto;
    color: aliceblue;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    padding-left: 20px;
    margin-top: 9px;
    letter-spacing: 2px;
}

.content h1:hover{
    color: rgb(144, 226, 43);
}

.content .cn{
    width: 160px;
    height: 40px;
    background: blueviolet;
    border: none;
    margin: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{ text-decoration: none;
color: black;
transition: .3s ease;
}

.cn:hover{
    background-color: aqua;
}

.content span{
    color: blueviolet;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(233, 231, 235);
    background-color: rgb(95, 18, 189);
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: none;
    border-right: none;
    border-left: none;
    color: rgb(249, 249, 247);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}
::placeholder{
    color: rgb(156, 226, 43);
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: blueviolet;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: aliceblue;
    transition: 1.4s ease;
}

.btnn:hover{
    background: #fff;
    color: blueviolet
}

.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link{
    font-family: Arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: blueviolet;
}

.liw{ 
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icon a{
    text-decoration: none;
    color: #fff;
}

.icon ion-icon{
    color: rgb(151, 235, 17);
    font-size: 25px;
    padding-left: 11px;
    padding-top: 7px;
    transition: 2s ease;
}

.icon ion-icon:hover{
    color: rgb(106, 12, 206);
}